@import "tailwindcss";
@import "@repo/tailwind-config";

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sfpro-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-sfpro-text:
    var(--font-sfpro-text), system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

::selection {
  color: var(--selection-foreground-color);
  background-color: color-mix(
    in oklab,
    var(--selection-background-color) var(--selection-background-opacity),
    transparent
  );
}

::-moz-selection {
  color: var(--selection-foreground-color);
  background-color: color-mix(
    in oklab,
    var(--selection-background-color) var(--selection-background-opacity),
    transparent
  );
}
