@import "tailwindcss";
@import "@repo/tailwind-config";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@custom-variant dark (&:where(.dark, .dark *));

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
